.containerTaskList{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:1.5rem;

    @media(max-width:480px){
        width: 80%;
    }
}

.finishedTask{
    color: var(--Gray-300, #808080);

  
}

.tasks{
display: flex;
padding: 16px;
align-items: center;
align-self: stretch;
justify-content: space-between;
border-radius: 8px;
border: 1px solid var(--Gray-400, #333);
background: var(--Gray-500, #262626);
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);

}

.tasks p{
color: var(--Gray-100, #F2F2F2);
width: 100%;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-align: start;
margin-left: 12px;
}

.finishedText {
    text-decoration: line-through; /* Aplicar estilo de linha quando a classe está presente */
    color: var(--Gray-300, #808080)  !important;
  }

.checkContainer{
width: 1.125rem;
height: 1.125rem;
background: none;
border: none;
cursor: pointer;

}


.checkContainer div{
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue-50);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.checkContainer div:hover{
    background: var(--blue-100, #1E6F9F);
    cursor: pointer;
}



.buttonDelete{
    background: none;
    padding: 1px;
    border: none;
    color: var(--Gray-300, #808080);
    cursor: pointer;
}

.buttonDelete:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--Gray-400, #333);
    color: var(--danger, #E25858);
    cursor: pointer;
}


.containerText{
    text-align: center;
    margin-top: 1rem;
}