.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.containerList{
    margin-top: 3rem;
}

.containerListTask{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.containerTasks{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:4rem ;
}

.containerInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .tasksCreated{
        color: var(--Blue, #4EA8DE);
    }

    .tasksCompleted{
        color: var(--Purple, #8284FA);
    }

}

.countTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    padding: 2px 8px;
    gap: 10px;
    border-radius: 999px;
    background: var(--Gray-400, #333);

    font-size: 12px;
    font-style: normal;
    font-weight: 700;


}

.countTasksCompleted{
    background: var(--Gray-400, #333);
    gap: 10px;
    border-radius: 999px;
    padding: 2px 8px;

    font-size: 12px;
    font-style: normal;
    font-weight: 700;

}